mediafiles/
*.env
.dockerignore
*db.sqlite3
staticfiles/
media/
.venv
fly.toml
Dockerfile
manage.py
static/
staticfiles/
manage.py
*.mypy_cache/
*.pyc
__pycache__
db.sqlite3
requirements.txtrequirements.txt
