{% load static %}

<!-- NAV BAR START-->
<header>
    <nav id="navbar">
    <ul>
        <li><a href="{%url 'main:home'%}">Home</a></li>
        <li><a href="{%url 'main:projects'%}">Projects</a></li>
        <li><a href="https://drive.google.com/file/d/1la_pNmI-5p5UFp5S0Y4KCPP8lrzYX9zb/view" target="_blank">CV</a></li>
        <li><a href="{%url 'main:contact'%}">Contact</a></li>
        <li><a class="rh-side" href="https://www.linkedin.com/in/sharavanansivaraya/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a class="rh-side" target="_blank" href="https://github.com/ShareeSiv"><i class="fa-brands fa-github"></i></a></li>
    </ul>
    </nav>  
</header>
<!-- NAV BAR END -->

