{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="canonical" href="{{request.path}}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <title>Sharavanan (Sharee)</title>
  </head>
  <body>
    
    {% include 'main/partials/nav.html' %}

    {% block content %}
    {% endblock %}

    <!--LIGHT/DARK Mode Btn-->
    <button id="theme-btn" class="theme-btn" onclick="toggleTheme()"><i class="fa-solid fa-moon"></i></button>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
